*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(59, 163, 153) !important;
    position: relative;
}
.bg-color-1{
    background-color: rgb(31, 128, 128);
}

.main-section{
    margin-bottom: 100px;
}
footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
}
footer a{
    color: #fff;
    text-decoration: dashed;
}